<%- include('../partials/header')  %> 
<title><%= title  %> </title>
</head>
<body>
    <h1><%= errorMessage %> </h1>
    <p>For more info, visit</p>
    <%- include('../partials/links')  %> 

    <%- include('../partials/footer')  %> 